{{define "header"}}
<link rel="stylesheet" type="text/css" href="/web/static/css/style.css">
<header class="site-header">
    <nav class="site-nav">
        <a class="logo" href="/"> Placeholder </a>
        <ul class="header-social">
            <li>
                <a href="https://github.com/RyanQueirozS" target="_blank" rel="noopener noreferrer">
                    <img class="social-links" src="/static/images/Github-Logo.png" alt="Github">
                </a>
                <a href="https://www.linkedin.com/in/ryanqueirozs/" target="_blank" rel="noopener noreferrer">
                    <img class="social-links" src="/static/images/Linkedin-Logo.png" alt="Github">
                </a>
            </li>
        </ul>
    </nav>
</header>
{{end}}
