<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.PageData.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/static/css/style.css">
    <link rel="stylesheet" href="/web/static/css/prism.css" />
    <script src="/web/static/js/prism.js"></script>
</head>

<body>
    <header class="site-header">
        <nav class="site-nav">
            <a class="logo" href="/">Ryan Queiroz</a>
            <ul class="nav-social">
                <li>
                    <a href="https://github.com/RyanQueirozS" target="_blank" rel="noopener noreferrer">
                        <img class="social-links" src="/static/images/Github-Logo.png" alt="Github">
                    </a>
                    <a href="https://www.linkedin.com/in/ryanqueirozs/" target="_blank" rel="noopener noreferrer">
                        <img class="social-links" src="/static/images/Linkedin-Logo.png" alt="Linkedin">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <div>
            <div class="hero">
                {{.PageData.Content}}
            </div>
            <ul>
                {{range .Posts}}
                <li> <a href="{{.Name}}">{{ slice .Name 11}}</a></li>
                <dl> {{.Description}}</dl>
                {{end}}
            </ul>
            {{.ShowMore}}
        </div>
    </main>
    <footer class="site-footer">
        <p><a href="/copyright">Uncopyrighted </a>by Ryan Queiroz.</p>
        <p>
            This website is free and open-source. Check the code
            <a href="https://github.com/RyanQueirozS/Portifolio" target="_blank">
                here
            </a>.
        </p>
        <ul class="nav-social">
            <li>
                <a href="https://github.com/RyanQueirozS" target="_blank" rel="noopener noreferrer">
                    <img class="social-links" src="/static/images/Github-Logo.png" alt="Github">
                </a>
                <a href="https://www.linkedin.com/in/ryanqueirozs/" target="_blank" rel="noopener noreferrer">
                    <img class="social-links" src="/static/images/Linkedin-Logo.png" alt="Linkedin">
                </a>
            </li>
        </ul>

    </footer>
</body>

</html>
