body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #191724;
}

footer {
    padding: 10px;
}

a {
    color: #eb6f92;
}

.social-links {
    filter: invert(100%);
    max-width: 80%;
    height: auto;
}
